.if-section {
  background-color: black;
  height: 635px;
  width: 635px;
  padding-top: 30px;
}

.if-section img {
  width: 500px
}

.if-body {
  color: white;
  position: relative;
  top: -250px;
  left: 400px;
  padding-left: 20px;
}

.heading-section hr {
  color: #f87300;
  margin-top: -29px
}

.heading-section h1 {
  color: #f87300;
}

.heading-section h2 {
  color: #c7c7c7;
  margin-left: 200px
}

.logo img {
  width: 175px;
  height: 60px;
  margin-left: 430px;
  margin-top: -200px;
}

.logo {
  margin-left: 10px;
  margin-top: -50px;
}

.info-section {
  background-color: white;
  margin-left: 10px;
  width: 300px;
  margin-top: 50px;
}

.info-section ul {
  margin-left: -20px;
}
