.if-section {
  background-color: black;
  height: 635px;
  width: 635px;
  padding-top: 30px;
}

.if-section img {
  width: 500px
}

.if-body {
  color: white;
  position: relative;
  top: -250px;
  left: 400px;

}

.heading-section hr {
  color: #f87300;
  margin-top: -29px
}

.heading-section h1 {
  color: #f87300;
}

.heading-section h2 {
  color: #c7c7c7;
  margin-left: 200px
}

.heading-section img {
  width: 170px;
  height: 60px;
}

.info-section {
  background-color: white;{
  margin-left: 20px;
  width: 10px;
}

.info-section ul {
  margin-left: -50px;
}
